* {
    margin: 0;
    padding: 0;
}

header {
    height: 75px;
    background-color: black;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    display: flex;

    color: white;

    font-family: 'Brandon Grosteque', brando-grotesuqe, Helvetica, sans-serif;

    z-index: 9999;
}
section {
    position: relative;
    box-sizing: border-box;
    height: 700px;

    box-shadow: lightgray 0 50px 50px;

    font-family: 'Brandon Grosteque', brando-grotesuqe, Helvetica, sans-serif;
}

footer {
    background-color: black;
    color: white;
    font-size: 0.6rem;
    font-family: 'Brandon Grosteque', brando-grotesuqe, Helvetica, sans-serif;

    display: flex;
    position: relative;

    justify-content: center;

    height: 50px;
}

nav {
    display: flex;
    position: absolute;
    margin: auto;
}

p {
    text-transform: uppercase;
}

/* Header */

#icon {
    height: 20px;
    filter: brightness(0) invert(1);
    margin: auto;
}

.left-side {
    display: flex;  
    font-size: 0.8rem;
    padding-right: 50px;
}

.right-side {
    display: flex;
    font-size: 0.7rem;
    padding-left: 50px;

    color: lightgray
}

.flex-items {
    margin: auto 10px;
}

/* Main section */

.main-img {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.main-bottom {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;

    width: 100%;
    background-color: rgba(30, 30, 30, 0.7);

    color: white;
}

.bottom-top {
    justify-content: center;
    display: flex;
    height: 75px;
}

.bottom-top-box {
    display: flex;
    box-sizing: border-box;
    width: 900px;
    position: relative;
}

.bottom-top-box div {
    padding: 20px 30px;
    box-sizing: border-box;
}

.bottom-top-left h1{
    left: 0;
}

.bottom-top-right p {
    position: absolute;
    margin-right: 30px;
    right: 0px;

    border-radius: 2px;
}

.bottom-bottom {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 75px;
    background-color: rgb(30, 30, 30);
}




.title {
    font-size: 1.5rem;
}

.learn-button {
    width: 60px;
    background-color: white;
    padding: 8px 40px;
    font-size: 0.2rem;
    color: black;
}

.items-bottom {
    display: flex;
    width: 300px;

    padding: 20px 20px;

    font-size: 0.8rem;

    border-right: rgb(59, 59, 59) solid 1px;
    border-left: rgb(59, 59, 59) solid 1px;
}

.items-bottom p {
    padding: 0 5px;
}

.num-tabs p {
    color: slategrey;
}

.top-title {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 5px;
    position: relative;

    background-color: transparent;
}

.top-title p {
    text-align: center;
    font-size: 0.9rem;
}

.news-contain {
    display: flex;
    justify-content: center;
    background-color: white;
}

.items-square {
    padding: 20px;
}

.items-square img {
    width: 100%;
}

.items-square p {
    font-weight: 30px;
    font-size: 0.9rem;
    padding: 10px 0;
}

.news-learn-more {
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
}

.news-learn-more p {
    font-size: 0.65rem;
    color: skyblue
}

.squares {
    width: 250px;
    height: 250px;
    margin: 75px 12px;

    position: relative;

    box-sizing: border-box;

    box-shadow: rgb(185, 185, 185) 0 0 5px;
}


/* Footer */

.icon-footer {
    height: 12px;
    filter: brightness(0) invert(1);
    padding-right: 15px;
}

.social-media-footer {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;
    width: 500px;
}

.icon-contain-footer {
    border-right: slategrey solid 1px;
}

.social-media-footer p {
    padding-left: 15px;
}

.copy-right-footer {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;

    color: slategrey;

    width: 500px;
}